<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.xresidual.forwardtest</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/python3</string>
    <string>/Users/prabhatm/Documents/GitHub/xResidual/scripts/forwardtest_run.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/prabhatm/Documents/GitHub/xResidual</string>
  <key>StartInterval</key>
  <integer>21600</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/prabhatm/Documents/GitHub/xResidual/logger/data/forwardtest.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/prabhatm/Documents/GitHub/xResidual/logger/data/forwardtest.log</string>
</dict>
</plist>
